
$primary-color-light: #434343;
$primary-color-dark: #000000;

$blue: #36d1dc;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #636e72;
$color-grey-dark-2: #999;
$color-grey-dark-3:#1a1c22;
$grey: #bdc3c7;

$color-white: #fff;
$color-black: #000;

$button-color:#005eff;

$shadow-light: 0 2rem 18rem rgba(225, 225, 225, .3);
