.logo{
    height: 3.25rem;
    margin-left: 3rem;
    margin-top: 1.9rem;
    

    &__icon{
        width: 1.3rem;
        height: 1.3rem;
        fill: $grey;

        &:not(:last-child){
            margin-right: 1.3rem;
        }
    }
}

.search{
    flex: 0 0 30%;
    justify-self: flex-start;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;

    &__input{
        font-family: inherit;
        font-size: 1.1rem;
        background-color: $color-grey-dark-3;
        border: none;
        color: $grey;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 80%;
        transition: all .2s;
        margin-right: -3.5rem;

        &:focus{
            outline: none;
            width: 100%;
        }

        &::-webkit-input-placeholder{
            font-weight: 300;
            color: inherit;
        }
    }

    &__button{
        border: none;
        background-color: $color-grey-dark-3;
        fill: $grey;

        &:focus{
            outline: none;
        }

        &:active{
            transform: translateY(.3px);
        }
    }

    &__icon{
        height: 1.3rem;
        width: 1.3rem;
    }
}

.user-nav{
    display: flex;

    &__icon-box{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        position: relative;
        transition: all .3s;

        .dropdown-content{
            display: none;
            position: absolute;
            background-color: black;
            min-width: 20px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 2; 
            top: 30px;
            right: 0px;


            a{
                color: $grey;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-transform: capitalize;
                font-weight: 700;
                font-size: inherit;
            }

        }

        &:hover .dropdown-content{
            display: inline-block;
        }

        .user{
            border-radius: 100px;
            width: 1.7rem;
            height: 1.7rem;
            margin-right: .7rem;
        }

        p{
            text-transform: uppercase;
            font-weight: 700;
        }
    }

    &__icon{
        height: 3rem;
        width: 1.2rem;
        fill: $grey;
    }
}


.sidebar__content{
    padding: .7rem 1rem;
    margin-bottom: -2rem;

}
.sidebar__btn{
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    background-color: $button-color;
    color:#fff;
    padding: .6rem 2.6rem;
    display: inline-block;
    border-radius: .2rem;
    display: flex;
    margin-top: 1.2rem;
    box-shadow: 0rem 0.4rem 2.7rem rgba($grey, .5);

    p{
        font-size: 1.1rem;
        font-weight: 700;
    }
}

.sidebar__icon{
    width: 1.1rem;
    height: 1.1rem;
    fill: #fff;
    margin-left: -.5rem;
    margin-right: .6rem;
}

.list{
    margin: 2rem 1.4rem;

    &__item{

        &:not(last-child){
            padding-bottom: 1.5rem;
        }

        list-style: none;
    }

    &__ele{
        text-decoration: none;
        color: $color-grey-dark;
        font-size: 1.1rem;
        padding-top: -1rem;
        margin-top: 30rem;
    }
}

.heading-primary{
    font-size: 1.4rem;
    color: white;
    font-weight: 700;
}

.carousel-wrap {
    margin: 1rem auto;
    z-index: -10; 
  }
  
  /* fix blank or flashing items on carousel */
  .owl-carousel .item {
    position: relative;
    -webkit-backface-visibility: hidden; 
  }
  
  /* end fix */
  .owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
  }

  .owl-nav{
    i {
        font-size: 52px;
      }

      .owl-prev {
        left: -30px;
      }

      .owl-next {
        right: -30px;
      }
  }
  
  .item{
      width: 14rem;
      height: 12rem;
      position: relative;
      transition: .3s all;
      cursor: pointer;

      .desc{
          padding: 1rem 3rem;
          background-color: black;
          color: white;
          text-align: center;
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, 200%);
          display: none;
          transition: all .4s ease-in;
      }

      &:hover{
        filter:  grayscale(80%) opacity(67%);
      }

      &:hover .desc{
          display: inline-block;
          transform: translate(-50%, -50%);
          z-index: 10;
      }

  }

  .songs{
      height: auto;
      width: 100%;
  }

  .genres{
      height: auto;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, min-content);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 1rem;
      text-align: center;
      margin-left: 4rem;
      margin-top: 1rem;
      

      .genre{
        height: 7rem;
        width: 10rem;
        background-color: $color-grey-dark;
        display: inline-block;
        text-align: center;
        padding-top: 2.7rem;
        color: black;
        border-radius: 10px;
        font-weight: 400;

      }
  }

  .songs-holder{
      margin-top: 1rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 1rem;
      overflow-y:scroll;
    //   scrollbar-width: non;
      height: 15rem;

    //   &::-webkit-scrollbar { 
    //     display: none;  // Safari and Chrome
    // }

    &::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #000;
    }
    
    &::-webkit-scrollbar
    {
        width: 6px;
        background-color: #000;
    }
    
    &::-webkit-scrollbar-thumb
    {
        background-color: #F5F5F5;
    }
  }



  .song{
    display: flex;
    align-items: center; 
    
  }

  .song-img{
      height: 2.7rem;
      width: 2.7rem;
      border-radius: 10px;
      margin-left: .1rem;
      flex: 0 0 auto;
      margin-right: 1.1rem;
  }

  .song-no{
    //   padding-left: 2rem;
    flex: 0 0 10%;
  }

  .song-name{
    // padding-left: 2rem;
    // width: 30rem;
    flex: 0 0 55%;
    color: inherit;
    text-decoration: none;
  }

  .like-icon{
    flex: 0 0 5%;
}

  .song-time{
    // margin-right: -6rem;
    flex: 0 0 10%;
  }

  .song-icon{
    // margin-left: 6rem;
    flex: 0 0 10%;
  }

  #song_id{
      margin-left: 3rem;
  }

  
  .range{
      height: .5rem;
      width: 60%;
      border: 1px solid $grey;
      border-radius: 1rem;
      margin-left: -6rem;
      margin-right: 1rem;
  }

  .slider{
      padding-top: .4rem;
      height: .2rem;
      width: 0px;
      background-color: $button-color;
  }

  .playing{
      display: flex;
      flex-direction: column;
      flex: 0 0 10%;
      font-size: 1rem;

      .artist{
          font-size: inherit !important;
          filter: brightness(.7);
      }
  }