.logo {
  height: 3.25rem;
  margin-left: 3rem;
  margin-top: 1.9rem;

  &__icon {
    width: 1.3rem;
    height: 1.3rem;
    fill: $grey;

    &:not(:last-child) {
      margin-right: 1.3rem;
    }
  }
}

.search {
  flex: 0 0 30%;
  justify-self: flex-start;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;

  &__input {
    font-family: inherit;
    font-size: 1.1rem;
    background-color: $color-grey-dark-3;
    border: none;
    color: $grey;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 80%;
    transition: all 0.2s;
    margin-right: -3.5rem;

    &:focus {
      outline: none;
      width: 100%;
    }

    &::-webkit-input-placeholder {
      font-weight: 300;
      color: inherit;
    }
  }

  &__button {
    border: none;
    background-color: $color-grey-dark-3;
    fill: $grey;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(0.3px);
    }
  }

  &__icon {
    height: 1.3rem;
    width: 1.3rem;
  }
}

.user-nav {
  display: flex;

  &__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    position: relative;
    transition: all 0.3s;

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: black;
      min-width: 20px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 2;
      top: 30px;
      right: 0px;

      a {
        color: $grey;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-transform: capitalize;
        font-weight: 700;
        font-size: inherit;
      }
    }

    &:hover .dropdown-content {
      display: inline-block;
    }

    .user {
      border-radius: 100px;
      width: 1.7rem;
      height: 1.7rem;
      margin-right: 0.7rem;
    }

    p {
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  &__icon {
    height: 3rem;
    width: 1.2rem;
    fill: $grey;
  }
}

.sidebar__content {
  padding: 0.7rem 1rem;
  margin-bottom: -2rem;
}

.sidebar__btn {
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  background-color: $button-color;
  color: #fff;
  padding: 0.6rem 2.6rem;
  display: inline-block;
  border-radius: 0.2rem;
  display: flex;
  margin-top: 1.2rem;
  box-shadow: 0rem 0.4rem 2.7rem rgba($grey, 0.5);

  p {
    font-size: 1.1rem;
    font-weight: 700;
  }
}

.sidebar__icon {
  width: 1.1rem;
  height: 1.1rem;
  fill: #fff;
  margin-left: -0.5rem;
  margin-right: 0.6rem;
}

.list {
  margin: 2rem 1.4rem;

  &__item {
    &:not(last-child) {
      padding-bottom: 1.5rem;
    }

    list-style: none;
  }

  &__ele {
    text-decoration: none;
    color: $color-grey-dark;
    font-size: 1.1rem;
    padding-top: -1rem;
    margin-top: 30rem;
  }
}

.heading-primary {
  font-size: 1.4rem;
  color: white;
  font-weight: 700;
}

.carousel-wrap {
  margin: 1rem auto;
  z-index: -10;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  -webkit-backface-visibility: hidden;
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav {
  i {
    font-size: 52px;
  }

  .owl-prev {
    left: -30px;
  }

  .owl-next {
    right: -30px;
  }
}

.item {
  width: 13rem;
  height: 11rem;
  position: relative;
  transition: 0.3s all;
  cursor: pointer;

  .desc {
    padding: 1rem 1rem;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 200%);
    display: none;
    transition: all 0.4s ease-in;
  }

  &:hover {
    filter: grayscale(60%) opacity(67%);
  }

  &:hover .desc {
    display: inline-block;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-decoration: none;
  }
}

.songs {
  height: auto;
  width: 100%;
}

.genres {
  height: 17rem;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  text-align: center;
  margin-left: 4rem;
  margin-top: 1rem;
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #000;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: #000;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #f5f5f5;
  }

  .genre {
    height: 7rem;
    width: 10rem;
    background-color: $color-grey-dark;
    display: inline-block;
    text-align: center;
    padding-top: 2.7rem;
    color: black;
    border-radius: 10px;
    font-weight: 400;
  }
}

.songs-holder {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  overflow-y: scroll;
  //   scrollbar-width: non;
  height: 17rem;

  //   &::-webkit-scrollbar {
  //     display: none;  // Safari and Chrome
  // }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #000;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: #000;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #f5f5f5;
  }
}

.song {
  display: flex;
  align-items: center;
}

.song-img {
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 10px;
  margin-left: 0.1rem;
  flex: 0 0 auto;
  margin-right: 1.1rem;
}

.song-no {
  //   padding-left: 2rem;
  flex: 0 0 10%;
}

.song-name {
  // padding-left: 2rem;
  // width: 30rem;
  flex: 0 0 55%;
  color: inherit;
  text-decoration: none;
}

.like-icon {
  flex: 0 0 5%;
}

.song-time {
  // margin-right: -6rem;
  flex: 0 0 10%;
}

.song-icon {
  // margin-left: 6rem;
  flex: 0 0 10%;
}

#song_id {
  margin-left: 3rem;
}

.range {
  height: 0.5rem;
  width: 60%;
  border: 1px solid $grey;
  border-radius: 1rem;
  margin-left: -6rem;
  margin-right: 1rem;
}

.slider-div {
  height: 20rem;
}

.slider {
  padding-top: 0.4rem;
  height: 0.2rem;
  width: 0px;
  background-color: $button-color;
}

.playing {
  display: flex;
  flex-direction: column;
  flex: 0 0 10%;
  font-size: 1rem;

  .artist {
    font-size: inherit !important;
    filter: brightness(0.7);
  }
}

.playlist_id {
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  background-color: #005eff;
  color: #fff;
  border: none;
  padding: 0.6rem 2.6rem;
  display: inline-block;
  border-radius: 0.2rem;
  display: flex;
  margin-top: 1.2rem;
  box-shadow: 0rem 0.4rem 2.7rem rgba(189, 195, 199, 0.5);
  margin-bottom: .6rem;
  position: relative;
}

#play_list{
    display: inline;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    // background-color: yellow;
    display: inline-block;
    width: 80%;
}

.mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 73, 94, 0.8);
    z-index: 50;
    visibility: hidden;
    
    opacity: 0;
    
    transition: 0.7s;
  }
  
  // Modal
  
  .modal{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 550px;
    height: 350px;
    margin-left: -200px;
    margin-top: -150px;
    background: linear-gradient(120deg, #000, #000);
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-out;
    transform: translateY(45px);
    border-radius: 10px;
  }
  
  // Class Active
  
  .active{
    visibility: visible;
    opacity: 1;
  }
  
  // When active class is added, that affects the modal class
  
  .active + .modal{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  .close{
    position: absolute;
    top: 2px;
    right: 2px;
    width: 50px;
    height: 30px;
    background: white;
    color: #000;
    cursor: pointer;
    border: 0;
    font-size: 1.5rem;
    border-radius: 4px;
  }


  .playlist-holder{
      margin: 4rem 3rem 0 3rem;
      display: block;

      p{
          text-align: center;
          
          &:not(last-child){
              margin-bottom: 1rem;
          }
      }
  }

  .pla_add{
      border: none;
      text-align: center;
      margin: 0 auto;
  }

  #new_play{
      margin-top: 1rem;
      padding: .4rem 1.7rem;
  }

  .create_btn{
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #005eff;
    color: #fff;
    border: none;
    padding: 0.6rem 2.6rem;
    display: inline-block;
    border-radius: 0.2rem;
  }

  .xclose{
      color: red;
      text-align: end;
      cursor: pointer;
  }