.container{
    max-width: auto;
    margin: 1.3rem;
    background-color: $color-black;
    box-shadow: 0 2rem 18rem rgba(225, 225, 225, .3);
    max-height: auto;
    overflow-x: hidden;
}

.header{
    height: 5rem;
    // border-bottom: .02px solid $color-grey-dark-3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.footer{
    height: 4rem;
    // background-color: brown;
    border-bottom: rgba(225, 225, 225, .3);
}

.content{
    display: flex;

}

.sidebar{
    // background-color: red;
    flex: 0 0 15%;
    border-right: .02px solid $color-grey-dark-3;
}

.app-view{
    // background-color: green;
    flex: 1;
    height: 35rem;
    margin: 1.6rem 0 .6rem 3rem;
}

.song-contents{
    display: grid;
    width: 90vw;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: -6rem;
    // background-color: red;
}

.footer-items{
    margin-left: 2rem;
    display: flex;
    margin-top: 1rem;
    align-items: center;
}