.logo {
  height: 3.25rem;
  margin-left: 3rem;
  margin-top: 1.9rem; }
  .logo__icon {
    width: 1.3rem;
    height: 1.3rem;
    fill: #bdc3c7; }
    .logo__icon:not(:last-child) {
      margin-right: 1.3rem; }

.search {
  flex: 0 0 30%;
  justify-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto; }
  .search__input {
    font-family: inherit;
    font-size: 1.1rem;
    background-color: #1a1c22;
    border: none;
    color: #bdc3c7;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 80%;
    transition: all 0.2s;
    margin-right: -3.5rem; }
    .search__input:focus {
      outline: none;
      width: 100%; }
    .search__input::-webkit-input-placeholder {
      font-weight: 300;
      color: inherit; }
  .search__button {
    border: none;
    background-color: #1a1c22;
    fill: #bdc3c7; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(0.3px); }
  .search__icon {
    height: 1.3rem;
    width: 1.3rem; }

.user-nav {
  display: flex; }
  .user-nav__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    position: relative;
    transition: all 0.3s; }
    .user-nav__icon-box .dropdown-content {
      display: none;
      position: absolute;
      background-color: black;
      min-width: 20px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 2;
      top: 30px;
      right: 0px; }
      .user-nav__icon-box .dropdown-content a {
        color: #bdc3c7;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-transform: capitalize;
        font-weight: 700;
        font-size: inherit; }
    .user-nav__icon-box:hover .dropdown-content {
      display: inline-block; }
    .user-nav__icon-box .user {
      border-radius: 100px;
      width: 1.7rem;
      height: 1.7rem;
      margin-right: 0.7rem; }
    .user-nav__icon-box p {
      text-transform: uppercase;
      font-weight: 700; }
  .user-nav__icon {
    height: 3rem;
    width: 1.2rem;
    fill: #bdc3c7; }

.sidebar__content {
  padding: 0.7rem 1rem;
  margin-bottom: -2rem; }

.sidebar__btn {
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  background-color: #005eff;
  color: #fff;
  padding: 0.6rem 2.6rem;
  display: inline-block;
  border-radius: 0.2rem;
  display: flex;
  margin-top: 1.2rem;
  box-shadow: 0rem 0.4rem 2.7rem rgba(189, 195, 199, 0.5); }
  .sidebar__btn p {
    font-size: 1.1rem;
    font-weight: 700; }

.sidebar__icon {
  width: 1.1rem;
  height: 1.1rem;
  fill: #fff;
  margin-left: -0.5rem;
  margin-right: 0.6rem; }

.list {
  margin: 2rem 1.4rem; }
  .list__item {
    list-style: none; }
    .list__item:not(last-child) {
      padding-bottom: 1.5rem; }
  .list__ele {
    text-decoration: none;
    color: #636e72;
    font-size: 1.1rem;
    padding-top: -1rem;
    margin-top: 30rem; }

.heading-primary {
  font-size: 1.4rem;
  color: white;
  font-weight: 700; }

.carousel-wrap {
  margin: 1rem auto;
  z-index: -10; }

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  -webkit-backface-visibility: hidden; }

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd; }

.owl-nav i {
  font-size: 52px; }

.owl-nav .owl-prev {
  left: -30px; }

.owl-nav .owl-next {
  right: -30px; }

.item {
  width: 13rem;
  height: 11rem;
  position: relative;
  transition: 0.3s all;
  cursor: pointer; }
  .item .desc {
    padding: 1rem 1rem;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 200%);
    display: none;
    transition: all 0.4s ease-in; }
  .item:hover {
    filter: grayscale(60%) opacity(67%); }
  .item:hover .desc {
    display: inline-block;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-decoration: none; }

.songs {
  height: auto;
  width: 100%; }

.genres {
  height: 17rem;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  text-align: center;
  margin-left: 4rem;
  margin-top: 1rem;
  overflow-y: scroll; }
  .genres::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #000; }
  .genres::-webkit-scrollbar {
    width: 6px;
    background-color: #000; }
  .genres::-webkit-scrollbar-thumb {
    background-color: #f5f5f5; }
  .genres .genre {
    height: 7rem;
    width: 10rem;
    background-color: #636e72;
    display: inline-block;
    text-align: center;
    padding-top: 2.7rem;
    color: black;
    border-radius: 10px;
    font-weight: 400; }

.songs-holder {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  overflow-y: scroll;
  height: 17rem; }
  .songs-holder::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #000; }
  .songs-holder::-webkit-scrollbar {
    width: 6px;
    background-color: #000; }
  .songs-holder::-webkit-scrollbar-thumb {
    background-color: #f5f5f5; }

.song {
  display: flex;
  align-items: center; }

.song-img {
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 10px;
  margin-left: 0.1rem;
  flex: 0 0 auto;
  margin-right: 1.1rem; }

.song-no {
  flex: 0 0 10%; }

.song-name {
  flex: 0 0 55%;
  color: inherit;
  text-decoration: none; }

.like-icon {
  flex: 0 0 5%; }

.song-time {
  flex: 0 0 10%; }

.song-icon {
  flex: 0 0 10%; }

#song_id {
  margin-left: 3rem; }

.range {
  height: 0.5rem;
  width: 60%;
  border: 1px solid #bdc3c7;
  border-radius: 1rem;
  margin-left: -6rem;
  margin-right: 1rem; }

.slider-div {
  height: 20rem; }

.slider {
  padding-top: 0.4rem;
  height: 0.2rem;
  width: 0px;
  background-color: #005eff; }

.playing {
  display: flex;
  flex-direction: column;
  flex: 0 0 10%;
  font-size: 1rem; }
  .playing .artist {
    font-size: inherit !important;
    filter: brightness(0.7); }

.playlist_id {
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  background-color: #005eff;
  color: #fff;
  border: none;
  padding: 0.6rem 2.6rem;
  display: inline-block;
  border-radius: 0.2rem;
  display: flex;
  margin-top: 1.2rem;
  box-shadow: 0rem 0.4rem 2.7rem rgba(189, 195, 199, 0.5);
  margin-bottom: .6rem;
  position: relative; }

#play_list {
  display: inline;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase; }

.container {
  max-width: auto;
  margin: 1.3rem;
  background-color: #000;
  box-shadow: 0 2rem 18rem rgba(225, 225, 225, 0.3);
  max-height: auto;
  overflow-x: hidden; }

.header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }

.footer {
  height: 4rem;
  border-bottom: rgba(225, 225, 225, 0.3); }

.content {
  display: flex; }

.sidebar {
  flex: 0 0 15%;
  border-right: 0.02px solid #1a1c22; }

.app-view {
  flex: 1;
  height: 35rem;
  margin: 1.6rem 0 .6rem 3rem; }

.song-contents {
  display: grid;
  width: 90vw;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: -6rem; }

.footer-items {
  margin-left: 2rem;
  display: flex;
  margin-top: 1rem;
  align-items: center; }

.u-center-text {
  text-align: center !important; }

.u-move-text {
  margin-left: 4.1rem !important; }

.u-margin-bottom-small {
  margin-bottom: .5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Nunito', sans-serif !important;
  font-weight: 400;
  line-height: 1.6;
  color: #999;
  background-image: linear-gradient(to right bottom, #1a1c22, #1a1c22);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }
