<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="/static/jquery/jquery.min.js"></script>
        <link rel="stylesheet" href="/static/css/style.css">
        
        <link href="https://fonts.googleapis.com/css?family=Manjari:100,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="shortcut icon" type="image/png" href="">
        
        <title></title>
    </head>
    <body class="container">
        <div class="slider-div " id="slider">
            <div class="heading-primary alb_get">Albums</div>

            <div class="carousel-wrap ">
                <div class="owl-carousel albs">
                    {% for album in albums %}
                    <div class="item"><img src="../static/img/b6.jpg">
                        <div class="desc"><a href="javascript:void(0);" onclick="album('{{album.id}}')">{{album.name}}</a></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="album_song" id="album_menu">

        </div>
        <script src="../static/jquery/jquery.min.js"></script>
        <script src="../static/script/owl.carousel.min.js"></script>
        <script type="text/javascript" src="../static/jquery/jquery.min.js"></script>
        <script src="../static/jquery/main.js"></script>
        <script src="../static/script/index.js"></script>
    </body>
    

</html>