<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <script src="/static/jquery/jquery.min.js"></script>
            <link rel="stylesheet" href="/static/css/style.css">
            
            <link href="https://fonts.googleapis.com/css?family=Manjari:100,400&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="../static/css/style.css">
            <link rel="shortcut icon" type="image/png" href="">
            
            <title></title>
        </head>
        <body class="container">
           
    
            <ul> 
                    <button class="playlist_id" style="display: none;">+ Playlist</button> 
                    <div class="playlist_panel" style="display: none">
                        
                        {% for play in playlist %}
                            <li><a href="javascript:void(0)" id="play_list" onclick="playli('{{play["playlist_name"]}}')">+ {{play["playlist_name"]}}</a></li>
                        {% endfor %}
                            
                        
                            
                            <button class="pla_add">Create new playlist</button>
                            <form action="/playlist" method="POST" class="add_pla" style="display: none;">               
                            <div>
                              <input type="text" id="new_play" name="new_play"> 
                              <input type="submit" value="create">
                            </div>
                            </form>
                        </div>

                {% for song in songs %}
                <div class="song ">
                        <img src="/static/img/b1.jpg" alt="album art" class="song-img">
                        <p class="song-no">{{song.id -54}}</p>
                        <a href="javascript:void(0);" onclick="play('{{song.song}}')"  class="song-name">{{song.song_name}}
                        </a>
                        <p class="song-time">3:23</p>
                        <svg onclick="fav('{{song.song_name}}','{{song.favourite}}')" class="sidebar__icon like-icon liked">
                            <use  class="fav_button" xlink:href="/static/img/sprite.svg#icon-heart" class="liked"></use>
                        </svg>
                        <input type="checkbox" class="song-icon play_check" name="play_check" value="{{song.id}}" onclick="plays()">
                 </div> 
                {% endfor %}
            </ul>
          
    
    
            <script type="text/javascript" src="../static/jquery/jquery.min.js"></script>
            <script src="../static/jquery/main.js"></script>
        </body>
        
    
    </html>