<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>JAMZ - Music Web Application</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>

<body class="layout-column bg-dark">
    <header id="header" class="page-header fixed">
        <div class="navbar navbar-expand-lg"><a href="/" class="navbar-brand text-white">
                <span class="hidden-folded d-inline l-s-n-1x">JAMZ</span></a>
            <ul class="nav navbar-menu order-1 order-lg-2">
                <li class="nav-item"><a class="nav-link no-ajax" href="/login">Login</a></li>
                <li class="d-flex align-items-center">
                <a class="btn btn-rounded btn-sm btn-primary no-ajax" href="/signup">Register</a></li>
            </ul>
        </div>
    </header>
    <div id="main" class="layout-row flex">
        <div id="content" class="flex">
            <div class="sr">
                <div class="page-hero page-container">
                    <div class="media bg-media">
                        <div class="media-content" style="background-image:url(../static/img/c17.jpg)"></div>
                    </div>
                    <div class="p-5 pos-rlt text-center">
                        <h1 class="display-3 font-weight-bold text-white mb-5 mx-5">Music is the language of the heart...
                        </h1>
                        <a href="/signup" class="btn btn-md gd-primary text-white no-ajax m-2">Discover</a>
                        <a href="/login" class="btn btn-md gd-primary text-white no-ajax m-2">Sign in</a>
                    </div>
                </div>
                <div class="row collections no-gutters flex align-items-end">
                    <div class="col-2">
                        <div class="row no-gutters align-items-end">
                            <div class="col-2">
                                <div class="media"><a class="media-content"
                                        style="background-image: url(../static/img/b0.jpg)"></a></div>
                            </div>
                            <div class="col-10"></div>
                            <div class="col-8">
                                <div class="media"><a class="media-content"
                                        style="background-image: url(../static/img/b1.jpg)"></a></div>
                            </div>
                            <div class="col-4">
                                <div class="media"><a class="media-content"
                                        style="background-image: url(../static/img/b2.jpg)"></a></div>
                            </div>
                            <div class="col-6">
                                <div class="media"><a class="media-content"
                                        style="background-image: url(../static/img/b3.jpg)"></a></div>
                            </div>
                            <div class="col-6">
                                <div class="media"><a class="media-content"
                                        style="background-image: url(../static/img/b4.jpg)"></a></div>
                            </div>
                            <div class="col-12">
                                <div class="media"><a class="media-content"
                                        style="background-image: url(../static/img/b5.jpg)"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row no-gutters align-items-end">
                            <div class="col-3">
                                <div class="media"><a class="media-content"
                                        style="background-image: url(../static/img/b6.jpg)"></a></div>
                            </div>
                            <div class="col-2">
                                <div class="media"><a class="media-content"
                                        style="background-image: url(../static/img/b7.jpg)"></a></div>
                            </div>
                            <div class="col-7"></div>
                            <div class="col-12">
                                <div class="media"><a class="media-content"
                                        style="background-image: url(../static/img/b8.jpg)"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row no-gutters align-items-end">
                            <div class="col-7">
                                <div class="media"><a class="media-content"
                                        style="background-image: url(../static/img/b9.jpg)"></a></div>
                            </div>
                            <div class="col-5">
                                <div class="media"><a class="media-content"
                                        style="background-image: url(../static/img/b10.jpg)"></a></div>
                            </div>
                            <div class="col-6">
                                <div class="media"><a class="media-content"
                                        style="background-image: url(../static/img/b11.jpg)"></a></div>
                            </div>
                            <div class="col-6">
                                <div class="media"><a class="media-content"
                                        style="background-image: url(../static/img/b12.jpg)"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="row no-gutters align-items-end">
                            <div class="col-5">
                                <div class="media"><a class="media-content"
                                        style="background-image: url(../static/img/b13.jpg)"></a></div>
                            </div>
                            <div class="col-7">
                                <div class="media"><a class="media-content"
                                        style="background-image: url(../static/img/b14.jpg)"></a></div>
                            </div>
                            <div class="col-12">
                                <div class="media"><a class="media-content"
                                        style="background-image: url(../static/img/b15.jpg)"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="row no-gutters align-items-end">
                            <div class="col-2"></div>
                            <div class="col-4">
                                <div class="media"><a class="media-content"
                                        style="background-image: url(../static/img/b18.jpg)"></a></div>
                            </div>
                            <div class="col-6">
                                <div class="media"><a class="media-content"
                                        style="background-image: url(../static/img/b17.jpg)"></a></div>
                            </div>
                            <div class="col-12">
                                <div class="media"><a class="media-content"
                                        style="background-image: url(../static/img/b20.jpg)"></a></div>
                            </div>
                            <div class="col-6">
                                <div class="media"><a class="media-content"
                                        style="background-image: url(../static/img/b17.jpg)"></a></div>
                            </div>
                            <div class="col-6">
                                <div class="media"><a class="media-content"
                                    style="background-image: url(../static/img/b19.jpg)"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>