<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>JAMZ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>

<body class="layout-row bg-dark">
    <div class="d-flex flex-column flex">
        <div class="row no-gutters h-100">
            <div id="carouselExampleSlidesOnly" class="col-md-6 bg-dark bg-img carousel slide" data-ride="carousel">
                <div class="p-3">
                    <a href="/" class="mb-3 text-white">JAMZ</a>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src=" {{ url_for('static', filename='img/b1.jpg') }}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src=" {{ url_for('static', filename='img/b20.jpg') }}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src=" {{ url_for('static', filename='img/b9.jpg') }}" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="content-body">
                <div class="p-3 p-md-5 mt-5">
                    {% if get_flashed_messages() %}
                    <header>
                        <div id="successMessage"
                            class="alert alert-primary alert-dismissible fade show border text-center" role="alert">
                            {{ get_flashed_messages() | join(" ") }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                                </div>
                            </header>
                            {% endif %}

                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
</body>

</html>