{% extends "login_layout.html" %}
{% block body %}

<h5>Welcome to JAMZ</h5>
<p><small class="text-muted">Sign up to discover a new world!</small></p>
<div class="">
    <form action="/signup" method="post" autocomplete="off" >
        <div class="my-3 text-muted text-sm text-muted"></div>
        <div class="form-group">
          <input type="text" name="name" class="form-control" placeholder="Username" required autofocus>
        </div>

        <div class="form-group">
          <input type="email"  name="email" class="form-control" placeholder="Email" required>
        </div>

        <div class="form-group">
          <input type="password" name="password" class="form-control" placeholder="Password" required>
        </div>

        <div class="form-group">
          <input type="password" name="confirmation" class="form-control" placeholder=" Retype Password" required>
        </div>

        <div class="mb-3 text-sm">
          <span class="text-muted">By clicking Sign Up, I agree to the</span> 
            <a href="#">Terms of service</a>
        </div>
        
        <button type="submit" class="btn btn-primary mb-4">Sign Up</button>

        <div>Already have an account? <a href="/login" class="text-primary _600">Sign in</a></div>
    </form>
</div>
{% endblock %}
