<ul id="song_menu"> 
        {% for son in songs %}            
            {% for song in son %}
            {% if song.favourite ==1 %}
            <li><a href="javascript:void(0);" onclick="play('{{song.song}}')">{{song.song_name}}</a>  <button onclick="fav('{{song.song_name}}','{{song.favourite}}')" class="unfav_button" value="{{song}}">Unlike</button><button class="playlist_id" value="{{song}}">+ Playlist</button></li> 
            {% else %}
            <li><a href="javascript:void(0);" onclick="play('{{song.song}}')">{{song.song_name}}</a>  <button onclick="fav('{{song.song_name}}','{{song.favourite}}')" class="fav_button" value="{{song}}">+Favourite</button><button class="playlist_id" value="{{song}}">+ Playlist</button></li>    
            {% endif %}
            
            {% endfor %}
                
        {% endfor %}
    </ul>